/* Review Status Selector */
.form-field {
    margin-bottom: 1rem;
}

.input {
    margin: 1rem 0;
    padding: 0.75rem 1rem;

    display: inline-block;
    width: auto;

    background: var(--zrh-input-bg);
    border: 1px solid var(--zrh-input-border);
    border-radius: 2px;
}

.input:focus {
    background: var(--zrh-input-bg-focus);
    border-color: var(--zrh-input-border-focus);
    outline: none;
}

.input[type="color"] {
    width: 2.5rem;
    padding: 0.25rem;
}

.colorpicker-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.colorpicker-container * {
    display: flex;
}

.colorpicker-container label {
    flex: 1;
    padding: 0 0.5rem;
}

/* Autocomplete */
.autocomplete {
    margin-top: -10px;
    overflow: hidden;

    background: var(--zrh-autocomplete-bg);
    border-radius: 4px;
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);

    z-index: 99999;
}

.autocomplete > * {
    padding: 1rem 1.25rem;
}

.autocomplete > *:hover,
.autocomplete [aria-selected="true"],
.autocomplete .selected {
    background: var(--zrh-autocomplete-bg-hover);
}

/* Buttons */
.btn {
    display: inline-flex;
    max-height: none;
    padding: 0.75rem 1.25rem !important;
    border-radius: 2px;

    border: none;
    background: var(--zrh-btn-bg);
    color: var(--zrh-btn-color);
}

.btn:hover {
    background: var(--zrh-btn-bg-hover);
    color: var(--zrh-btn-color-hover);
}

.btn-primary {
    background: var(--zrh-btn-primary-bg);
    color: var(--zrh-btn-primary-color);
}

.btn-primary:hover {
    background: var(--zrh-btn-primary-bg-hover);
    color: var(--zrh-btn-primary-color-hover);
}

.btn-container {
    display: flex;
    gap: 1rem;
}

/* Keystroke Input */
.input-keystroke-description {
    display: none;
    margin-left: 0.5rem;
}

.input-keystroke:focus + .input-keystroke-description {
    display: inline;
}

/* Select */
// .select {
//     margin: 1rem 0;
//     padding: 0.25rem 2rem;
//     width: 100%;

//     display: inline-block;
//     width: auto;
// }
