.text-center {
    text-align: center;
}

iframe {
    width: 100%;
    border: none;
}

.vh-80 {
    height: 80vh;
}

.hidden {
    display: none;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.muted {
    color: var(--zrh-muted);
}