/* Item Tree */
.review {
    text-align: center;
    display: inline-block;
    padding: 3px 8px;
    font-size: 90%;
    margin: 0 auto;
    border-radius: 3px;
}

.review:empty {
    display: none;
}
