/* Modal */
.modal {
    // display: none;
    visibility: hidden;
    opacity: 0;
}

.modal.open {
    // display: flex;
    visibility: visible;
    opacity: 1;
}

.modal {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;

    align-items: center;
    justify-content: center;

    background: var(--zrh-modal-overlay-bg);

    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inner-modal {
    position: relative;
    padding: 2rem;
    border-radius: 4px;

    background: var(--zrh-modal-bg);
    color: var(--zrh-modal-color);

    box-shadow:
        0 30px 60px -12px rgb(0 0 0 / 0.1),
        0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);

    transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inner-modal h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}
