/* Paper Size Options */
// 8.5 x 11
@media only print {
    body {
        width: auto;
        height: auto;
        margin: 0;
    }
}

@media only screen {
    body {
        // width: 11in;
        // height: 8.5in;
        margin: 1rem auto;
    }
}