
/* Variables */
/* Colors */
$dark: $gray-950;
$light: $gray-50;

/* Body */
$body: $light;

/* Box */
$box-padding: 1rem;

$box-font-family: 'Arial';
$box-font-size: 9pt;
$box-font-weight: normal;

$box-background: #fff;

$box-border: 1px solid $dark;
$box-border-radius: 4px;

/* Table Title */
$title-padding: .5rem 1rem;
$title-margin: 1rem 0;

$title-font-family: 'Arial';
$title-font-size: 10pt;
$title-font-weight: bold;

$title-background: $yellow-300;

$title-border: 0px solid none;
$title-border-radius: 4px;

/* Section Title */
$section-title-padding: 2rem 1rem;
$section-title-inner-padding: 1rem;
$section-title-width: 1.5rem; // Also used for the column template width

$section-title-font-family: 'Arial';
$section-title-font-size: 10pt;
$section-title-font-weight: bold;

$section-title-background: $blue-300;

$section-title-border: 1px solid $blue-300;
$section-title-border-radius: 4px;

/* Column Template */
$title-column-width: $section-title-width + $section-title-width;
$column-gap: 4rem;
$row-gap: 1rem;

/* Arrow */
$arrow-color: $gray-800;
$arrow-size: 10px;
$line-thickness: 1pt;
$arrow-border: $line-thickness solid $arrow-color;

/* Indent */
$indent-margin: 1rem;